     .custom-select-height .mat-form-field-wrapper {
       padding-bottom: 0.5em;
     }
     .custom-select-height .mat-form-field-infix {
       padding-top: 0.5em;
       padding-bottom: 0.5em;
     }
     .custom-select-height .mat-select-trigger {
       height: 30px;
     }